#annonce, #edition-annonce, #suppression-annonce {
  padding: 0 2rem;

  & #titre {
    & h1 {
      text-align: center;
    }
  }

  & #photos {
    & .photo-bien {
      & img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  & #descriptif {
    & #publication, & #maj {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      text-align: center;
    }

    & p {
      font-size: 1rem;
    }
  }

  & .button {
    text-align: center;
    padding-top: 2rem;

    & #contact, & #modif, & #supp {
      @extend .waves-effect;
      @extend .waves-light;
      @extend .btn-large;
      width: 100%;
    }
  }

  & .button:last-child {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 47em) {
  #annonce {
    & .button {
      padding-left: 2%;
      display: inline-block;


      & #contact, & #modif, & #supp {
        width: inherit;
      }
    }

    & p {
      padding-left: 2%;
    }

    & .photo-bien {
      width: 33%;
      float: left;
      padding: 2%;
      box-sizing: border-box;
    }
  }
}