footer {
  @extend .page-footer;

  & #haut-footer {
    @extend .container;

    & h5 {
      @extend .white-text;
    }

    & .row {
      & p {
        color: white !important;
      }

      & #infos {
        @extend .col;
        @extend .l6;
        @extend .s12;
      }
    }

    & ul li a {
      color: white !important;
    }
  }

  #footer-copyright {
    @extend .footer-copyright;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #f5f2f0;
}

main {
  flex: 1 0 auto;
}