#suppression-annonce {
  & h1 {
    text-align: center;
    padding-bottom: 1rem;
  }

  & p {
    padding: 2rem 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 47em) {
  #suppression-annonce {
    & h1 {
      text-align: left;
      padding-left: 1rem;
    }

    & p {
      text-align: left;
    }
  }
}

#content-form-del {
  @extend .row;

  & button {
    @extend .btn;
    @extend .waves-effect;
    @extend .waves-light;
  }

  & #password {
    @extend .validate !optional;
  }

  #password-field {
    @extend .input-field;
    @extend .col;
    @extend .s12;
    @extend .m12;
    @extend .l3;
  }

  #submit-field {
    @extend .input-field;
    @extend .col;
    @extend .s12;
    @extend .m12;
    @extend .l12;
  }
}

#ajout-annonce {
  padding: 0 2rem;

  & h2, & h3, & p {
    text-align: center;
  }

  & h2 {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 47em) {
  #ajout-annonce {
    & h2, & h3, & p {
      text-align: left;
    }
  }
}

#form-depot-annonce {
  @extend .row;
}

#form-add-annonce {
  @extend .col;
  @extend .s12;

  & .element-add {
    @extend .row;
  }

  & input {
    @extend .validate !optional;
  }

  & .modded-radio {
    position: inherit;
    left: inherit;
    visibility: inherit;
    margin-left: 1rem;
    margin-right: 0.5rem;
  }

  & .bloc-form {
    margin-top: 1rem;
  }
}

.resp-ele {
  @extend .input-field;
  @extend .col;
  @extend .s12;
  @extend .m6;

  & span {
    color: #9e9e9e;
  }
}

.google-field {
  display: none;
}

.photo-input {
  @extend .file-field;
  @extend .input-field;
  @extend .col;
  @extend .s12;
  @extend .m6;
}

.resp-ele-vendeur {
  @extend .input-field;
  @extend .col;
  @extend .s6;
  @extend .m3;
}

#form-pvente, #form-ploc {
  display: none;
}

#submit-add {
  @extend .btn;
  @extend .waves-effect;
  @extend .waves-light;
  margin-top: 1rem;
  width: 100%;
}

@media screen and (min-width: 47em) {
  #submit-add {
    margin-top: 2rem;
    width: 15%;
  }
}

#error-form {
  @extend .waves-effect;
  @extend .waves-light;
  @extend .btn;
  @extend .red;
  @extend .darken-3;
  width: 100%;
  display: none;
}

@media screen and (min-width: 47em) {
  #error-form {
    margin-top: 2rem;
    width: 75%;
  }
}

#search-form {
  padding: 0 2rem;

  & h2, & p {
    text-align: center;
  }
}

@media screen and (min-width: 47em) {
  #search-form {
    & h2, & p {
      text-align: left;
    }
  }
}