#photo-homepage {
  background: url("../img/site/lebonappart_homepage.jpg") no-repeat;
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 75em) {
  #photo-homepage {
    background: url('../img/site/lebonappart_homepage.jpg') no-repeat;
    min-height: 75vh;
    background-size: cover;
    width: 100%;
    height: auto;
    background-position: 0 -500px;
  }
}

#bloc-recent {
  padding: 0 2rem;
}

#contenu-recents {
  width: 100%
}

.acces-an {
  @extend .card-title;
  @extend .activator;
  @extend .grey-text;
  @extend .text-darken-4;
}

.card-pic {
  @extend .card-image;
  @extend .waves-effect ;
  @extend .waves-block;
  @extend .waves-light;
}

#title-recent {
  @extend .col;
  @extend .s12;
}

@media screen and (min-width: 72em) {
  .rec-ann {
    /* Sorry, need !important */
    width: 33% !important;
  }
}