#informations-lebonappart {
  background: #f5f2f0;
  @extend .row;
  margin-bottom: 0;

  & #contact-agence, & #nom-agence {
    @extend .col;
    @extend .s12;
    @extend .m6;
  }

  & #regroupement-contacts {
    background: #f5f2f0;
    @extend .row;
    padding-top: 20px;

    & #mobile-contact, & #maps-contact {
      @extend .col;
      @extend .s6;
      @extend .m6;

      & p {
        display: none;
      }
    }

    & #mobile-contact {
      text-align: right;
    }
  }
}

@media screen and (min-width: 75em) {
  #informations-lebonappart {
    & #regroupement-contacts {
      & #mobile-contact, & #maps-contact {
        & p {
          display: inline-block;
          vertical-align: top;
        }
      }

      & #maps-contact {
        text-align: right;
      }
    }
  }
}

#menu {
  @extend .nav-wrapper;

  & #menu-pc {
    @extend .right;
    @extend .hide-on-med-and-down;
  }

  & #mobile-demo {
    @extend .side-nav;
  }
}