#informations-vendeur {
  padding: 0 2rem;

  & #recapitulatif-vendeur {
    @extend .col;
    @extend .s12;
    @extend .m8;
    @extend .offset-m2 ;
    @extend .l6;
    @extend .offset-l3;

    & #carte-vendeur {
      @extend .card-panel;
      @extend .grey;
      @extend .lighten-5;
      @extend .z-depth-1;
      background-color: #fff !important;

      & #grille-vendeur {
        @extend .row;
        @extend .valign-wrapper;
      }
    }
  }
}

#avatar {
  @extend .col;
  @extend .s2;

  & img {
    @extend .circle;
    @extend .responsive-img;
  }
}

#information {
  @extend .col;
  @extend .s10;

  & span {
    @extend .black-text;
  }
}