<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LeBonAppart : Déposer une annonce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAIAD9xh2nxrFrdqPxS4onaI5n5mIK4GuI">
    </script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="./js/materialize.js"></script>

    <script type="text/javascript" src="./js/autocomplete.js"></script>
    <script type="text/javascript" src="./js/personnal.js"></script>

    <link type="text/css" rel="stylesheet" href="./css/styles.css"  media="screen"/>
    <link rel="icon" type="image/png" href="./img/site/favicon.png" />

    <script>
        $( document ).ready(function() {
            $(".button-collapse").sideNav();
            $('select').material_select();
        });
    </script>
</head>

<body>

{% include "header.twig" %}

<main>
    <div id="container">
        <div id="ajout-annonce">
            <h2>Déposer une annonce</h2>

            <p>Tous les champs dans le formulaire ci-dessous sont obligatoires. Dans le cas contraire, votre annonce ne
            pourra être publiée sur le site Internet LeBonAppart.</p>


            <div id="form-depot-annonce">
                <form id="form-add-annonce" enctype="multipart/form-data" method="post" onSubmit="return validateForm()">
                    <br><div class="bloc-form">
                        <h3>Informations sur le bien</h3>

                        <div class="element-add">
                            <div class="resp-ele">
                                <input name="intitule" id="intitule" type="text" required="required">
                                <label for="intitule">Intitulé de l'annonce</label>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <div class="select-wrapper">
                                    <select id="bien" name="bien">
                                        {% for item in selectTypeBien %}
                                            <option value="{{ item.id_type }}">{{ item.intitule }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <label>Type de bien</label>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <input name="adresse" id="adresse" required="required" autocomplete="off" type="text">
                                <label for="adresse">Adresse du bien</label>
                            </div>
                        </div>
                        <div class="row google-field">
                            <div class="resp-ele">
                                <input name="street_number" id="street_number" type="text">
                            </div>
                        </div>
                        <div class="row google-field">
                            <div class="resp-ele">
                                <input name="route" id="route" type="text">
                            </div>
                        </div>
                        <div class="row google-field">
                            <div class="resp-ele">
                                <input name="postal_code" id="postal_code" type="text">
                            </div>
                        </div>
                        <div class="row google-field">
                            <div class="resp-ele">
                                <input name="locality" id="locality" type="text">
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="photo-input">
                                <div class="btn">
                                    <span>Photographie 1</span>
                                    <input type="file" name="image1" id="image1" required>
                                </div>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="photo-input">
                                <div class="btn">
                                    <span>Photographie 2</span>
                                    <input type="file" name="image2" id="image2" required>
                                </div>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="photo-input">
                                <div class="btn">
                                    <span>Photographie 3</span>
                                    <input type="file" name="image3" id="image3" required>
                                </div>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <textarea name="descriptif" id="descriptif" required="required"
                                          class="materialize-textarea"></textarea>
                                <label for="descriptif">Descriptif du bien</label>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <div class="select-wrapper">
                                    <select id="tannonce" name="tannonce" onchange="enablePrice(this.value)">
                                        <option value="0">Choix du type de votre annonce</option>
                                        {% for item in selectTypeAnnonce %}
                                            <option value="{{ item.id_type }}">{{ item.intitule }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <label>Type de l'annonce</label>
                            </div>
                        </div>
                        <div id="form-pvente" class="element-add">
                            <div class="resp-ele">
                                <input type="number" name="pvente" id="pvente">
                                <label for="pvente">Prix de vente (en euros)</label>
                            </div>
                        </div>
                        <div id ="form-ploc" class="element-add">
                            <div class="resp-ele">
                                <input type="number" name="ploc" id="ploc">
                                <label for="ploc">Prix mensuel du loyer (en euros)</label>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <input type="number" name="pieces" id="pieces" required="required">
                                <label for="pieces">Nombre de pièces</label>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <input type="number" name="superficie" id="superficie" required="required">
                                <label for="superficie">Superficie (en m²)</label>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <span>Garage disponible</span><br>
                                    <input class="modded-radio" type="radio" name="garage" value="1" checked />Oui
                                    <input class="modded-radio" type="radio" name="garage" value="0" />Non
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <span>Jardin disponible</span><br>
                                <input class="modded-radio" type="radio" name="jardin" value="1" checked />Oui
                                <input class="modded-radio" type="radio" name="jardin" value="0" />Non
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <span>Piscine disponible</span><br>
                                <input class="modded-radio" type="radio" name="piscine" value="1" checked />Oui
                                <input class="modded-radio" type="radio" name="piscine" value="0" />Non
                            </div>
                        </div>
                    </div>

                    <br><br><div class="bloc-form">
                        <h3>Informations sur le vendeur</h3>

                        <div class="element-add">
                            <div class="resp-ele-vendeur">
                                <input type="text" name="prenom" id="prenom" required="required">
                                <label for="prenom">Prénom</label>
                            </div>
                            <div class="resp-ele-vendeur">
                                <input type="text" name="nom" id="nom" required="required">
                                <label for="nom">Nom</label>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele-vendeur">
                                <input type="email" name="email" id="email" required="required">
                                <label for="email">Adresse e-mail</label>
                            </div>
                            <div class="resp-ele-vendeur">
                                <input type="tel" name="number" id="number" required="required">
                                <label for="number">Numéro de téléphone</label>
                            </div>
                        </div>
                    </div>

                    <br><br><div class="bloc-form">
                        <h3>Sécurisation de l'annonce</h3>

                        <div class="element-add">
                            <div class="resp-ele">
                                <input type="password" name="password" id="password" required="required">
                                <label for="password">Mot de passe d'accès</label>
                            </div>
                        </div>
                    </div>

                    <button id="submit-add" type="submit" name="submit" value="Submit">Envoyer
                        <i class="material-icons right">send</i>
                    </button>
                </form>

                <div class="element-add">
                    <div class="resp-ele">
                        <a id="error-form"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include "footer.twig" %}

</body>
</html>