<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LeBonAppart : Affichage d'une annonce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="../css/styles.css"  media="screen"/>
    <link rel="icon" type="image/png" href="../img/site/favicon.png" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>

    <script>
        $( document ).ready(function() {
            $(".button-collapse").sideNav();

            {% if errorPass == 1 %}
            Materialize.toast('Le mot de passe entré précédemment est éronné', 2000);
            {% endif %}
        });
    </script>
</head>

<body>

{% include "header.twig" %}

<main>
    <div id="container">
        <div id="annonce">
            {% if annonceG == null %}
                <h3>Erreur</h3>
                <h4>L'annonce demandée est introuvable !</h4>
            {% else %}
                <div id="titre">
                    <h1>{{ annonceG.nomAnnonce }}</h1>
                </div>

                <div id="photos">
                    {% for photo in photosG %}
                        <div class="photo-bien">
                            <img src="../{{ photo.url }}" alt="Photo de l'annonce"/>
                        </div>
                    {% endfor %}
                </div>

                <div id="descriptif">
                    <p id="publication"><strong>Publié le</strong> : {{ annonceG.datePublication }}</p><!--
                    !--><p id="maj"><strong>Dernière mise à jour le</strong> : {{ annonceG.dateMiseAJour }}</p>

                    <p id="vendeur"><strong>Vendeur</strong> : {{ vendeurG.prenom }} {{ vendeurG.nom }} </p>

                    {% if annonceG.prixVente == -1 %}
                        <p class="prix"><strong>Prix</strong> : {{ annonceG.prixLoyerMensuel }} € / mois</p>
                    {% else %}
                        <p class="prix"><strong>Prix</strong> : {{ annonceG.prixVente }} €</p>
                    {% endif %}

                    <p id="adresse">
                        <strong>Adresse</strong> :
                        {{ annonceG.numeroRue }} {{ annonceG.nomRue }} {{ annonceG.ville }} {{ annonceG.codePostal }}
                    </p>

                    <p id="description"><strong>Description</strong> :
                        {% autoescape 'html' %}
                            {{ annonceG.descriptif | nl2br }}
                        {% endautoescape %}
                    </p>

                    <p id="typeBien"><strong>Type de bien</strong> : {{ bien.intitule }}</p>
                    <p id="nbPiece"><strong>Nombre de pièces</strong> : {{ annonceG.nbPieces }}</p>
                    <p id="superficie"><strong>Superficie</strong> : {{ annonceG.superficie }} m²</p>
                    <p id="garage"><strong>Garage</strong> : {{ annonceG.garage }}</p>
                    <p id="piscine"><strong>Piscine</strong> : {{ annonceG.piscine }}</p>
                    <p id="jarin"><strong>Jardin</strong> : {{ annonceG.jardin }}</p>
                </div>

                <div class="button">
                    <a id="modif" href="../edition/{{ annonceG.id_annonce }}">Modifier</a>
                </div>

                <div class="button">
                    <a id="supp" href="../suppression/{{ annonceG.id_annonce }}">Supprimer</a>
                </div>

                <div class="button">
                    <a id="contact" href="../vendeur/{{ vendeurG.id_vendeur }}">Contacter le vendeur</a>
                </div>
            {% endif %}
        </div>
    </div>
</main>

{% include "footer.twig" %}

</body>
</html>