<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LeBonAppart : Edition d'une annonce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAIAD9xh2nxrFrdqPxS4onaI5n5mIK4GuI">
    </script>
    <script type="text/javascript" src="../js/autocomplete.js"></script>
    <script type="text/javascript" src="../js/personnal.js"></script>

    <link type="text/css" rel="stylesheet" href="../css/styles.css" media="screen"/>
    <link rel="icon" type="image/png" href="../img/site/favicon.png"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>

    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            $('select').material_select();
        });
    </script>
</head>

<body>

{% include "header.twig" %}

<main>
    <div id="container">
        <div id="ajout-annonce">
            <h2>Édition d'une annonce</h2>

            <p>Tous les champs dans le formulaire ci-dessous sont obligatoires. Dans le cas contraire, votre annonce ne
                pourra être mise à jour correctement.</p>

            <div id="form-depot-annonce">
                <form id="form-add-annonce" enctype="multipart/form-data" method="post"
                      onSubmit="return validateForm()">
                    <br>

                    <div class="bloc-form">
                        <h3>Informations sur le bien</h3>

                        <div class="element-add">
                            <div class="resp-ele">
                                <input name="intitule" id="intitule" type="text" required="required"
                                       value="{{ annonce.nomAnnonce }}">
                                <label for="intitule">Intitulé de l'annonce</label>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <div class="select-wrapper">
                                    <select id="bien" name="bien">
                                        {% for item in selectTypeBien %}
                                            {% if item.id_type == annonce.idTypeBien %}
                                                <option value="{{ item.id_type }}" selected>{{ item.intitule }}</option>
                                            {% else %}
                                                <option value="{{ item.id_type }}">{{ item.intitule }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <label>Type de bien</label>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <input name="adresse" id="adresse" required="required" autocomplete="off" type="text">
                                <label for="adresse">Adresse du bien</label>
                            </div>
                        </div>
                        <div class="row google-field">
                            <div class="resp-ele">
                                <input name="street_number" id="street_number" type="text">
                            </div>
                        </div>
                        <div class="row google-field">
                            <div class="resp-ele">
                                <input name="route" id="route" type="text">
                            </div>
                        </div>
                        <div class="row google-field">
                            <div class="resp-ele">
                                <input name="postal_code" id="postal_code" type="text">
                            </div>
                        </div>
                        <div class="row google-field">
                            <div class="resp-ele">
                                <input name="locality" id="locality" type="text">
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <textarea name="descriptif" id="descriptif" required="required"
                                          class="materialize-textarea">{{ annonce.descriptif | raw }}</textarea>
                                <label for="descriptif">Descriptif du bien</label>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <div class="select-wrapper">
                                    <select id="tannonce" name="tannonce" onchange="enablePrice(this.value)">
                                        <option value="0">Choix du type de votre annonce</option>
                                        {% for item in selectTypeAnnonce %}
                                            {% if item.id_type == annonce.idTypeAnnonce %}
                                                <option value="{{ item.id_type }}" selected>{{ item.intitule }}</option>
                                            {% else %}
                                                <option value="{{ item.id_type }}">{{ item.intitule }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <label>Type de l'annonce</label>
                            </div>
                        </div>
                        <div id="form-pvente" class="element-add">
                            <div class="resp-ele">
                                <input type="number" name="pvente" id="pvente" value="{{ annonce.prixVente }}">
                                <label for="pvente">Prix de vente (en euros)</label>
                            </div>
                        </div>
                        <div id="form-ploc" class="element-add">
                            <div class="resp-ele">
                                <input type="number" name="ploc" id="ploc" value="{{ annonce.prixLoyerMensuel }}">
                                <label for="ploc">Prix mensuel du loyer (en euros)</label>
                            </div>
                        </div>
                        <script>
                            var pvente = document.getElementById("pvente").value;
                            var ploc = document.getElementById("ploc").value;

                            if (pvente != -1) {
                                document.getElementById('form-pvente').style.display = 'block';
                            }

                            if (ploc != -1) {
                                document.getElementById('form-ploc').style.display = 'block';
                            }

                        </script>

                        <div class="element-add">
                            <div class="resp-ele">
                                <input type="number" name="pieces" id="pieces" required="required"
                                       value="{{ annonce.nbPieces }}">
                                <label for="pieces">Nombre de pièces</label>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <input type="number" name="superficie" value="{{ annonce.superficie }}" id="superficie"
                                       required="required">
                                <label for="superficie">Superficie (en m²)</label>
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <span>Garage disponible</span><br>
                                {% if annonce.garage == 1 %}
                                    <input class="modded-radio" type="radio" name="garage" value="1" checked>Oui
                                    <input class="modded-radio" type="radio" name="garage" value="0">Non
                                {% else %}
                                    <input class="modded-radio" type="radio" name="garage" value="1">Oui
                                    <input class="modded-radio" type="radio" name="garage" value="0" checked>Non
                                {% endif %}
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                {% if annonce.jardin == 1 %}
                                    <input class="modded-radio" type="radio" name="jardin" value="1" checked>Oui
                                    <input class="modded-radio" type="radio" name="jardin" value="0">Non
                                {% else %}
                                    <input class="modded-radio" type="radio" name="jardin" value="1">Oui
                                    <input class="modded-radio" type="radio" name="jardin" value="0" checked>Non
                                {% endif %}
                            </div>
                        </div>
                        <div class="element-add">
                            <div class="resp-ele">
                                <span>Piscine disponible</span><br>
                                {% if annonce.piscine == 1 %}
                                    <input class="modded-radio" type="radio" name="piscine" value="1" checked>Oui
                                    <input class="modded-radio" type="radio" name="piscine" value="0">Non
                                {% else %}
                                    <input class="modded-radio" type="radio" name="piscine" value="1">Oui
                                    <input class="modded-radio" type="radio" name="piscine" value="0" checked>Non
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <button id="submit-add" type="submit" name="submit" id="submit" value="Submit">Envoyer
                        <i class="material-icons right">send</i>
                    </button>
                </form>

                <div class="element-add">
                    <div class="resp-ele">
                        <a id="error-form"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include "footer.twig" %}

</body>
</html>