<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LeBonAppart : Page non trouvée</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="./css/styles.css"  media="screen"/>
    <link rel="icon" type="image/png" href="./img/site/favicon.png" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="./js/materialize.js"></script>

    <script>
        $( document ).ready(function() {
            $(".button-collapse").sideNav();
        });
    </script>
</head>

<body>

{% include "header.twig" %}

<main>
    <div id="container">
        <div id="erreur-404">
            <div id="image-404">
                <img src="{{ url }}/img/site/panneau_404.png" alt="Erreur 404">
            </div>

            <div id="texte-404">
                <h5>Désolé, la page que tu recherches n'existe pas.</h5>
            </div>
        </div>
    </div>
</main>

{% include "footer.twig" %}

</body>
</html>