<footer>
    <div id="haut-footer">
        <div class="row">
            <div class="col l4">
                <h5>Liens utiles</h5>
                <ul>
                    {% for item in menuCollection %}
                        <li>
                            <a class="grey-text text-lighten-3" href="{{ url }}{{ item.url }}">{{ item.intitule }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="footer-copyright">
        <div class="container">
            © 2015 Tous droits réservés
        </div>
    </div>
</footer>