<header>
    <div id="informations-lebonappart">
        <div id="nom-agence">
            <h2>LeBonAppart</h2>
            <p><em>Agence immobilière sur Nancy</em></p>
        </div>

        <div id="contact-agence">
            <div id="regroupement-contacts">
                <div id="mobile-contact">
                    <img src="{{ url }}/img/site/icon_phone.png" alt="mobile">
                    <p><strong>Téléphone</strong> : 01 02 03 04 05</p>
                </div>

                <div id="maps-contact">
                    <img src="{{ url }}/img/site/icon_maps.png" alt="maps">
                    <p><strong>Adresse</strong> : 3, Rue de la Commanderie</p>
                </div>
            </div>
        </div>
    </div>

    <nav>
        <div id="menu">
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>

            <ul id="menu-pc">
                {% for item in menuCollection %}
                    <li><a href="{{ url }}{{ item.url }}">{{ item.intitule }}</a></li>
                {% endfor %}
            </ul>

            <ul id="mobile-demo">
                {% for item in menuCollection %}
                    <li><a href="{{ url }}{{ item.url }}">{{ item.intitule }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>