<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LeBonAppart : Votre agence immobilière sur Nancy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="./css/styles.css"  media="screen"/>
    <link rel="icon" type="image/png" href="./img/site/favicon.png" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="./js/materialize.js"></script>

    <script>
        $( document ).ready(function() {
            $(".button-collapse").sideNav();
        });
    </script>
</head>

<body>

{% include "header.twig" %}

<main>
    <div id="container">
        <div id="photo-homepage">

        </div>

        {% if recent | length != 0 %}
            <div id="bloc-recent">
                <div id="contenu-recents" class="row">
                    <div id="title-recent"><h3>Annonces récentes</h3></div>

                    {% set incr = 0 %}
                    {% for annonce in recent %}
                        <div class="col s12 m12 l6 rec-ann">
                            <div class="card">
                                <div class="card-pic">
                                    <img class="activator" alt="Picture card"
                                         src="{{ attribute(photos, incr) |replace({'../public/': "./"}) }}">
                                </div>

                                <div class="card-content">
                                    <span class="acces-an activator">{{ annonce.nomAnnonce }}
                                        <i class="material-icons right">more_vert</i>
                                    </span>

                                    <p><a href="annonce/{{ annonce.id_annonce }}">Accéder à l'annonce</a></p>
                                </div>

                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{ annonce.nomAnnonce }}
                                        <i class="material-icons right">close</i>
                                    </span>

                                    <p>Annonce publiée le {{ annonce.datePublication }}</p>
                                </div>
                            </div>
                        </div>
                        {% set incr = incr + 1 %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div id="height-homepage"></div>
    </div>
</main>

{% include "footer.twig" %}

</body>
</html>