<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LeBonAppart : Résultats de la recherche</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="./css/styles.css" media="screen"/>
    <link rel="icon" type="image/png" href="./img/site/favicon.png"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="./js/materialize.js"></script>

    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
        });
    </script>
</head>

<body>

{% include "header.twig" %}

<main>
    <div id="container">
        <div id="results-search">
            {% if research | length == 0 %}
                <h4>Aucune correspondance n'a été trouvée</h4>
            {% else %}
                <h3>Résultat de votre recherche</h3>

                <p>Correspondance(s) trouvée(s) : {{ research | length }}</p>


                {% set incr = 0 %}
                {% for annonce in research %}
                    <div class="col s12 m12 l6 rec-ann"> <!--style="width: 33%;"!-->
                        <div class="card">
                            <div class="card-pic">
                                <img class="activator" alt="Picture card"
                                     src="{{ attribute(photos, incr) |replace({'../public/': "./"}) }}">
                            </div>

                            <div class="card-content">
                                    <span class="acces-an activator">{{ annonce.nomAnnonce }}
                                        <i class="material-icons right">more_vert</i>
                                    </span>

                                <p>{{ annonce.descriptif[:40] }}...
                                <a href="annonce/{{ annonce.id_annonce }}">Lire la suite</a></p>
                            </div>

                            <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{ annonce.nomAnnonce }}
                                        <i class="material-icons right">close</i>
                                    </span>

                                <p>Annonce publiée le {{ annonce.datePublication }}</p>
                            </div>
                        </div>
                    </div>
                    {% set incr = incr + 1 %}
                {% endfor %}
            {% endif %}
        </div>

        <div id="height-homepage"></div>
    </div>
</main>

{% include "footer.twig" %}

</body>
</html>