<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LeBonAppart : Recherche</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="./css/styles.css"  media="screen"/>
    <link rel="icon" type="image/png" href="./img/site/favicon.png" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="./js/materialize.js"></script>

    <script>
        $( document ).ready(function() {
            $(".button-collapse").sideNav();
            $('select').material_select();
        });
    </script>
</head>

<body>

{% include "header.twig" %}

<main>
    <div id="search-form">
        <div id="form-depot-annonce">
            <h2>Critères de recherche</h2>

            <p>Tous les champs dans le formulaire ci-dessous sont obligatoires. Dans le cas contraire, votre recherche
                ne pourra aboutir.</p>

            <form id="form-add-annonce" method="post">
                <br>

                <div class="bloc-form">
                    <div class="element-add">
                        <div class="resp-ele">
                            <input type="text" name="intitule" id="intitule" required="required">
                            <label for="intitule">Mot clé</label>
                        </div>
                    </div>

                    <div class="element-add">
                        <div class="resp-ele">
                            <input type="text" name="ville" id="ville" required="required">
                            <label for="ville">Lieu</label>
                        </div>
                    </div>

                    <div class="element-add">
                        <div class="resp-ele">
                            <div class="select-wrapper">
                                <select id="bien" name="bien">
                                    {% for item in selectTypeBien %}
                                     <option value="{{ item.id_type }}">{{ item.intitule }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label>Type de bien</label>
                        </div>
                    </div>

                    <div class="element-add">
                        <div class="resp-ele">
                            <div class="select-wrapper">
                                <select id="tannonce" name="tannonce" onchange="enablePrice(this.value)">
                                    {% for item in selectTypeAnnonce %}
                                        <option value="{{ item.id_type }}">{{ item.intitule }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label>Type de l'annonce</label>
                        </div>
                    </div>

                    <div class="element-add">
                        <div class="resp-ele">
                            <input type="number" name="pmax" id="pmax" required="required">
                            <label for="pmax">Budget maximum</label>
                        </div>
                    </div>

                    <div class="element-add">
                        <div class="resp-ele">
                            <input type="number" name="piecemin" id="piecemin" required="required">
                            <label for="piecemin">Nombre de pièces minimum</label>
                        </div>
                    </div>
                </div>

                <button id="submit-add" type="submit" name="submit" value="Submit">Envoyer
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</main>

{% include "footer.twig" %}

</body>
</html>