<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LeBonAppart : Suppression d'une annonce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="../css/styles.css"  media="screen"/>
    <link rel="icon" type="image/png" href="../img/site/favicon.png" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>

    <script>
        $( document ).ready(function() {
            $(".button-collapse").sideNav();
        });
    </script>
</head>

<body>

{% include "header.twig" %}

<main>
    <div id="container">
        <div id="suppression-annonce">
            {% if pass == null %}
                <h3>Erreur</h3>
                <h4>L'annonce demandée est introuvable !</h4>

            {% else %}
                <h1>Accès réservé</h1>

                <p>La suppression de l'annonce nécessite le mot de passe choisi lors de la création de celle-ci.</p>

                <form id="form-del-annonce" method="post">
                    <div id="content-form-del">
                        <div id="password-field">
                            <i class="material-icons prefix">https</i>
                            <input id="password" type="password" name="password" required="required">
                            <label for="password">Mot de passe d'accès</label>
                        </div>

                        <div id="submit-field">
                            <button type="submit" name="action">Envoyer
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>

            {% endif %}
        </div>
    </div>
</main>

{% include "footer.twig" %}

</body>
</html>