<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LeBonAppart : Profil du vendeur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="../css/styles.css" media="screen"/>
    <link rel="icon" type="image/png" href="../img/site/favicon.png"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>

    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
        });
    </script>
</head>

<body>

{% include "header.twig" %}

<main>
    <div id="container">
        <div id="informations-vendeur">
            {% if donneesV|length == 1 %}
                <h3>Erreur</h3>
                <h4>Le vendeur demandé est introuvable !</h4>

            {% elseif donneesV|length == 3 %}
                <h2>Informations sur le vendeur</h2>

                <div id="recapitulatif-vendeur">
                    <div id="carte-vendeur">
                        <div id="grille-vendeur">
                            <div id="avatar"><img src="../img/profile_avatar.png" alt="Avatar"></div>

                            <div id="information">
                                <p><span> <strong>Prénom</strong> : {{ donneesV.prenom }}</span></p>

                                <p>
                                    <span>
                                        <strong>Adresse e-mail</strong> :
                                        <a href="mailto:{{ donneesV.email }}">{{ donneesV.email }}</a>
                                    </span>
                                </p>

                                <p>
                                    <span>
                                        <strong>Numéro de téléphone</strong> :
                                        <a href="tel:{{ donneesV.telephone }}">{{ donneesV.telephone }}</a>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</main>

{% include "footer.twig" %}

</body>
</html>